.board-container {
    background-color: white;
    margin-bottom: 5rem;
}

.welcome-msg {
    margin: 3rem 1.5rem 0;
}

.alert {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 7000;
}

/* desktop */

@media only screen and (min-width: 768px) {
    .board {
        display: flex;
    }
    .board-container {
        margin-left: 4vw;
        margin-bottom: 0;
    }
}