.card {
    margin: 8px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.card-header {
    font-size: 1.7rem;
}

.card-subheader {
    font-size: 1.1rem;
    margin: 8px;
}