.card-tile {
    margin: 8px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.card-tile-header {
    font-size: 1.7rem;
}

.card-tile-subheader {
    font-size: 1.1rem;
    margin: 8px;
}

/* desktop */
@media only screen and (min-width: 768px) {
    .card:hover {
        background-color: #ebecf0;;
    }
}
