.details-header {
    font-weight: bold;
    /* margin-left: 1rem; */
}

.details-container {
margin: 1rem;
}

.details {
    color: #777;
    font-weight: bold;
    margin: .1rem 0 1rem 1.8rem;
}

.details-icon {
    margin-right: .5rem;
}