.column {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f4f5f7;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: .5rem 2rem .5rem 1rem;
    background-color: #4C7342;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    background-color: #4C7342;
}

.h-icon{
    margin-right: .8rem ;
}

.column-header > input {
    width: 80%;
    border-bottom: 1px solid white;
    display: inline;
    padding: 0 4px;
}

/* desktop */

@media only screen and (min-width: 768px) {
    .column {
        width: 323px;
        height: 100%;
    }
    .droppable-height {
        min-height: 100vh;
        border-radius: 10px;
    }
}