.charting-container{
    font-family: Poppins;
    height: 100%;
}

.chart-row {
    height: 50vh;
    width: 100%;
}
.chart {
    width: 100%;
    background-color: #f4f5f7;
    margin:1rem;
    text-align: center;
    font-weight: bold;
}

/* desktop */
@media only screen and (min-width: 768px) {

    .charts {
        display: flex;
        flex-direction: column;
    }
    .chart-row {
        display: flex;
        height: 50vh;
    }
    .chart {
        width: 50%;
    }
}